body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin: 0;
}

h2 {
  text-align: center;
  font-size: 2em;
  margin: 0;
  position: absolute;
}

.hidden {
  display: none;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e8e8e8;
  background-image: url('./images/background1.jpg');
  background-position: 0%;
  background-size: contain;
  background-repeat: no-repeat;
  width: 70%;
  height: 95vh;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  border-radius: 5%;
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.5);
}

.cat-data {
  position: relative;
  width: 800px;
  height: 600px;
  border-radius: 5%;
  padding: 25px;
  margin-top: 50px;
  background-color: rgb(251, 251, 251, 0.5);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 400px;
  float: left;
  perspective: 500px;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;

  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.cat-photo {
  border-radius: 5%;
  border: 3px solid;
  box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
  height: 400px;
  width: auto;
}

.front,
.back {
  position: relative;
  height: 100%;
  width: 100%;

  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

.back-paragraphs {
  position: absolute;
  width: 500px;
  top: -70%;
  left: 50%;
  font-size: 20px;
  transform: translate(-50%, -50%);
}

.selector-div {
  width: 500px;
}

.breed-select {
  box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.4);
}

.loader {
  position: relative;
  top: 5%;
  width: 64px;
  height: 64px;
  background-color: rgba(0, 0, 0, 0.5);
  transform: rotate(45deg);
  overflow: hidden;
}
.loader:after {
  content: '';
  position: absolute;
  inset: 8px;
  margin: auto;
  background: #222b32;
}
.loader:before {
  content: '';
  position: absolute;
  inset: -15px;
  margin: auto;
  background: #de3500;
  animation: diamondLoader 2s linear infinite;
}
@keyframes diamondLoader {
  0%,
  10% {
    transform: translate(-64px, -64px) rotate(-45deg);
  }
  90%,
  100% {
    transform: translate(0px, 0px) rotate(-45deg);
  }
}
